/* Home styles */
#home {
	section {
		&:first-child {
			.cell {
				gap: calc(var(--unit) * 2);

				h2 {
					font-weight: 600;
				}
			}
		}

		&:nth-child(2) {
			background: var(--color-blue);
			box-shadow:
				calc(var(--unit) * 13) 0 0 0 var(--color-blue),
				calc(var(--unit) * -13) 0 0 0 var(--color-blue);

			p {
				font-size: 2rem;
				letter-spacing: -.025rem;
				font-weight: 700;
				line-height: 1.375em;
				color: var(--color-white);

				@media screen and (max-width: 1439px) {
					margin-bottom: calc(var(--unit) * 1.5);
				}
			}

			:first-child {
				grid-column: 1 / -1;
			}
		}

		* {
			grid-column: span 3;

			@media screen and (max-width: 1023px) {
				grid-column: span 2;
			}

			@media screen and (max-width: 767px) {
				grid-column: 1 / -1;
			}
		}
	}
}

/* Content styles */
#content {
	h2 {
		margin-bottom: calc(var(--unit) * 1);
	}

	h3 {
		margin-bottom: calc(var(--unit) * .375);
	}

	p,
	picture,
	hr {
		margin-bottom: calc(var(--unit) * 4);

		@media screen and (max-width: 1439px) {
			margin-bottom: calc(var(--unit) * 3);
		}
	}

	picture {
		span {
			font-size: calc(var(--unit) * 1.375);
			font-weight: 600;
			line-height: 1.25em;
			position: absolute;
			z-index: 999;
			width: 100%;
			padding: calc(var(--unit) * 1.25);
			color: var(--color-white);
			background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
			opacity: .64;
		}
	}

	.cell,
	.row {
		:last-child {
			margin-bottom: 0;
		}
	}

	.cell {
		grid-column: 2 / span 4;

		@media screen and (max-width: 1023px) {
			grid-column: 1 / -1;
		}

		/* Navigation, Title styles */
		&:first-child,
		&:nth-child(2) {
			margin-bottom: calc(var(--unit) * 4);

			@media screen and (max-width: 1439px) {
				margin-bottom: calc(var(--unit) * 3);
			}
		}

		&:first-child {
			grid-column: span 1;

			@media screen and (max-width: 1023px) {
				grid-column: 1 / -1;
			}
		}

		.stacks {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: calc(var(--unit) * 1.5);
			width: 100%;
			margin-top: calc(var(--unit) * 1.5);

			picture {
				width: 48px;
				margin: 0;
			}
		}
	}
}